/* 
    Color Pallete:
        EAC696 
        C8AE7D 
        765827 
        65451F 
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.article-hover:hover img {
    transform: scale(1.05);
}