/* 
    Color Pallete:
        EAC696 
        C8AE7D 
        765827 
        65451F 
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.article-hover:hover img {
    transform: scale(1.05);
}

.cal-button {
    width: 100%;
}

.cal-body {
    padding: 0 20% !important;
}

@media screen and (max-width: 1024px) {
    .btn {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 768px) {
    .container .row .col-9 {
        width: 100vw;
    }

    .cal-body {
        padding: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    .container .navbar-brand {
        font-size: small;
    }

    .btn {
        font-size: 5px !important;
    }
}